.container {
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: scroll;
}

.hand {
  position: sticky;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  max-height: 25vw;
}

.handWithExtraCardsSymbol {
  max-height: 32vw;
}

.header {
  position: sticky;
  top: 0;
  text-align: center;
  padding-top: 5vw;
  padding-bottom: 5vw;
  z-index: 1;
  background-color: rgb(211, 224, 237);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
}

.xTricksModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.xTricksModal input {
  margin: 2vw 0 2vw 0;
  padding: 1vw;
  width: 20vw;
  font-size: 8vw;
}
