.gameContainer {
  width: 100%;
  height: 100%;
  user-select: none;
}

.upperGameContainer {
  position: absolute;
  top: 0;
  width: 100%;
}

.trickContainer {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lowerGameContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* overflow: hidden; */
  clip: rect(-100vw, auto, auto, auto);
}

.textButtonContainer {
  position: absolute;
  bottom: calc(min(30vh, 45vw) + 18vw);
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
}

.leftButton {
  position: absolute;
  bottom: calc(min(30vh, 45vw) + 11vw);
  left: 2vw;
  font-size: 24vw;
}

.rightButton {
  position: absolute;
  bottom: calc(min(30vh, 45vw) + 11vw);
  right: 2vw;
  font-size: 24vw;
}
