.code {
  user-select: text;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5vw;
  opacity: 40%;
}

.closeButton:active {
  background-color: black;
  color: white;
}

.hintModeContainer {
  margin-bottom: 2vw;
}

.hintModeContainer input {
  margin: 0 0.5vw 0 1.5vw;
}
