.bottomOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

.statusContainer {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  padding: 1vw;
}

.codeContainer {
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  padding: 1vw;
  margin-left: 0.5vw;
  font-weight: 700;
}

.navigation:active {
  opacity: 30%;
}
