.container {
  display: flex;
  align-items: center;
  font-size: 4.5vw;
}

.captain {
  background-color: black;
  color: white;
  border-radius: 3.5vw;
  font-size: 4.5vw;
  text-align: center;
  margin: 0.5vw 0 0.5vw 0.5vw;
  padding-top: 0.75vw;
  width: 7vw;
  height: 7vw;
}
