.container {
  display: flex;
  align-items: center;
  padding: 0 1vw 0 1vw;
  justify-content: space-between;
}

.undo {
  font-size: 6vw;
}

.undo:active {
  background-color: black;
  color: white;
  opacity: 40%;
}
